.table-wrapper {
    width: 80%;
    overflow-x: auto;
    background-color: var(--container-color);
    border-radius: 1rem;
    box-shadow: var(--boxShadow);
}

.tasksTable {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--container-color);
}

.tasksTable th,
.tasksTable td {
    text-align: center;
    padding: 1rem;
}

.tasksTable th {
    background-color: var(--first-color);
    color: var(--white-color);
    font: var(--h3);
}

.task-row:nth-child(even) {
    background-color: var(--border-color);
}

.task-row:hover {
    background-color: var(--white-color);
}

.tableBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
}

.update-btn,
.delete-btn {
    padding: 0.5rem 0.9rem;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.update-btn {
    background-color: gold;
    color: var(--white-color);
}

.update-btn:hover {
    background-color: yellow;
    color: var(--white-color);
}

.delete-btn {
    background-color: var(--red);
    color: var(--white-color);
}

.delete-btn:hover {
    background-color: var(--redHover);
}


@media screen and (max-width: 768px) {

    .tasksTable,
    .table-wrapper {
        width: 90%;
    }


    .tasksTable td {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    .tasksTable th {
        font: var(--h5);
    }
}