.taskCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1rem;
    border: 2px solid var(--border-color);
    background-color: var(--container-color);
    border-radius: 10px;
    padding: 1rem 2rem;
    /* background: var(--gradient2); */

}

.taskCard-btns {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
}