.taskModal {
    width: 40%;
    padding: 1rem;
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    min-height: 425px;
}

.taskHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.taskCards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 1.5rem;
    padding: 0.5rem 1.5rem;
}

.deleteListBtn {
    background-color: var(--red);
    color: var(--white-color);
    border-radius: 5px;
    border: none;
}

.deleteListBtn:hover {
    background-color: var(--redHover);
}

/* Responsive Task Modal */
@media screen and (max-width: 1024px) {

    .taskModal {
        width: 60%;
    }
}


@media screen and (max-width: 758px) {

    .taskModal,
    .taskModal-presentation {
        width: 90%;
    }

}