.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--container-color);
    box-shadow: var(--boxShadow);
    border: 3px solid var(--border-color);
    border-radius: 10px;
    min-width: 400px;
}

.formContainer h2 {
    align-self: center;
}

.formContainer label {
    font: var(--h4);
    width: 100%;
}

.formContainer input,
.formContainer select {
    outline: none;
    border: none;
    width: 100%;
    padding: 0.7rem;
}

.formBtns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem 0.5rem;
}

.formBtns :first-child {
    background-color: var(--first-color);
    color: var(--white-color);
    border: none;
}

.formBtns :last-child {
    background-color: var(--red);
    color: var(--white-color);
    border: none;
}