.login-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-fixed);
    background-color: hsla(230, 12%, 96%, .6);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;

    transition: top .4s;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--container-color);
    box-shadow: var(--boxShadow);
    border: 3px solid var(--border-color);
    border-radius: 10px;
    min-width: 400px;
    position: absolute;
    top: 100px;
    right: 100;
}

.loginSignup-btn {
    background-color: transparent;
    color: var(--first-color);
    border: none;
}

.x-btn {
    position: fixed;
    top: 30px;
    right: 50px;
    font: var(--h2);
    background-color: transparent;
    border: none;
}

.loginForm h3 {
    align-self: center;
}

.loginForm label {
    font: var(--h4);
    width: 100%;
}

.submitForm-btn {
    margin-top: 1rem;
    width: 100%;
    border: none;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0.75rem 1rem;
}

.loginForm input {
    outline: none;
    border: none;
    width: 100%;
    padding: 0.7rem;
}

.loginForm a {
    color: var(--first-color);
}