.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border: 2px solid var(--border-color);
}

.homeLinks {
    display: flex;
    gap: 1rem;
}

.account-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.icons :hover {
    color: var(--first-color);
}