.boardPage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 85vh;
    gap: 1rem;
    margin-top: 20px;

}

.pendingTasks,
.completedTasks,
.inProgresTasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 30%;
    min-height: 400px;
    padding: 1rem;
    background-color: var(--container-color);
    border-radius: 10px
}

.pendingTasks h2 {
    align-self: flex-start;
    border-bottom: 2px solid gold;
}

.addPendingTask {
    border-radius: 3px;
    border: none;
    background-color: var(--border-color);
    color: var(--first-color);
}

.inProgresTasks h2 {
    align-self: flex-start;
    border-bottom: 2px solid var(--first-color);
}

.completedTasks h2 {
    align-self: flex-start;
    border-bottom: 2px solid greenyellow;
}


@media screen and (max-width: 758px) {

    .pendingTasks,
    .completedTasks,
    .inProgresTasks {
        width: 60%;
    }

}