.boardPage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 85vh;
    gap: 1rem;
    padding: 2rem 0;
}

.pendingTasks,
.completedTasks,
.inProgresTasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 30%;
    min-height: 500px;
    padding: 1rem;
    background-color: var(--container-color);
    box-shadow: var(--boxShadow);
    border-radius: 10px
}


.addCompletedTask,
.addPendingTask,
.addProgressTask {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
}

.addProgressTask {
    background-color: var(--border-color);
    color: var(--first-color);
}

.addCompletedTask {
    background-color: green;
    color: var(--white-color);
}

.addPendingTask {
    background-color: var(--border-color);
    color: var(--first-color);
}

.pendingTasks h2 {
    background-color: gold;
}

.inProgresTasks h2 {
    background-color: var(--first-color);
}

.completedTasks h2 {
    background-color: green;
}

.pendingTasks h2,
.inProgresTasks h2,
.completedTasks h2 {
    color: var(--white-color);
    align-self: flex-start;
    padding: 0.5rem 1rem;
    clip-path: polygon(0% 0%, 100% 0%, 85% 50%, 100% 100%, 0% 100%);
    width: 90%;
}



@media screen and (max-width: 758px) {

    .pendingTasks,
    .completedTasks,
    .inProgresTasks {
        width: 60%;
    }

    .pendingTasks h2,
    .inProgresTasks h2,
    .completedTasks h2 {
        font: var(--h3);
    }

}