.notFound-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 90vh;
}

.notFound-btn {
    background: var(--border-color);
    border: 3px solid var(--border-color);
    color: var(--first-color);
    border-radius: 3px;
}