.profiles-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 91.2vh;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    min-height: 300px;
    min-width: 300px;
}

.profile-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.profile-btns :first-child {
    border: none;
    color: var(--white-color);
    background-color: gold;
    padding: 0.7rem 1rem;
    border-radius: 3px;
}

.profile-btns :nth-child(2) {
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 3px;
    background-color: var(--first-color);
    color: var(--white-color);
}

.profile-btns :last-child {
    background-color: var(--red);
    border: none;
    color: var(--white-color);
    padding: 0.7rem 1rem;
    border-radius: 3px;
}

.profile-btns :last-child:hover {
    background-color: var(--redHover);
}