.taskModal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem 0;
    gap: 1rem;
}

.taskModal-presentation {
    width: 100%;
}

.taskModal-presentation h2 {
    text-align: center;
}

.taskList-presentation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;

}