.taskModal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem 0;
    margin-bottom: 35%;
    gap: 1rem;
}

.taskModal-presentation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--border-color);
    padding: 0.7rem 1rem;
}

.taskModal-btn {
    border-radius: 5px;
    border: none;
    background-color: var(--first-color);
    color: var(--white-color);
}

.taskList-presentation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;

}