.taskModal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 70vh;
    padding: 4rem 0;
    gap: 1rem;
}

.taskModal-presentation {
    width: 40%;
}

.taskModal-presentation h2 {
    text-align: left;
}