.statusFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem;
    width: 100%;
}

.ProgressFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

.statusFormContainer label,
.ProgressFormContainer label {
    font: var(--h4);
    width: 100%;
}

.statusFormContainer input,
.ProgressFormContainer select,
.statusFormContainer select {
    outline: none;
    border: none;
    width: 100%;
    padding: 0.7rem;
}

.statusFormContainer h2,
.ProgressFormContainer h2 {
    background-color: transparent;
    color: var(--first-color);
    text-align: center;
}